<!DOCTYPE html>
<html>
<head>
  <title>RPS Sinatra</title>
</head>

<body>
  <h1>Welcome to Rock-Paper-Scissors!</h1>

  <p>From <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Wikipedia</a></p>

<!--<p><%= @result %></p> -->
</body>
</html>
