<!DOCTYPE html>
<html>
<head>
  <title>RPS Sinatra</title>
</head>

<body>

  <h2><%= @print_user %></h2>
  <h2><%= @print_prog %></h2>
  <h2><%= @result %></h2>

  <div><a href="/">Rules</a></div>

<!--<p><%= @result %></p> -->
</body>
</html>
